/* VARS */
/* MEYER RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* line 23, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 33, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.settings_input input{
  font-family:"Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.6em;
}

input[type=text] {
  /*border:2px solid grey;
  background-color: rgba(0,0,0,0.4);
  */
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 4px;
  margin: 8px;
  padding: 12px 20px;
  background: none;

  color: inherit;
}

input[type=text]:focus {
    border-color: #555;
    outline: none;

}


#imglabel {
  margin: 8px;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius:4px;
  display: block;
  cursor: pointer;
  font-family:"Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.6em;
  width: 221px;
  line-height: 150%;
  text-align: center;
}

#imglabel:focus{
  /*outline: auto 5px -webkit-focus-ring-color;*/
  /*box-shadow: 0 0 3pt 2pt;*/
  opacity: 0.3;
}
.labelAlign {
  text-align: center;
  line-height: 150%;
  display: table;
  margin: auto;

}


.onoffswitch {
    position: relative; width: 131px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Celcius";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Fahrenheit";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 97px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.temptoggle {
  padding:5px;
  margin: 10px;
  vertical-align: middle;
}

.innerSetting {
  top:50%;
  position:absolute;
}

/* line 36, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
body {
  line-height: 1; }

/* line 39, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
ol, ul {
  list-style: none; }

/* line 42, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
blockquote, q {
  quotes: none; }

/* line 46, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 50, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GENERAL */
/* line 56, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
html, body {
  width: 100%;
  height: 100%; }

/* line 61, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
span.bold {
  font-weight: 700; }

/* line 65, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
a {
  outline: none;
  color: #ffffff;
  text-decoration: none; }

/* line 71, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.tab {
  display: inline-block;
  padding-left: 10px; }

/* CONTAINER */
/* line 77, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.container {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  /*background: url("../imgs/bgs/cross.jpg");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1em; }

/* line 90, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(26, 26, 26, 0.6);
  box-sizing: border-box; }

/* line 98, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.inner, .clock , .settings{
  padding: 25px 100px 15px 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

/* line 106, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.inner, .settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/* line 113, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12em;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

/* line 122, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.clock span {
  display: block;
  font-weight: 200; }

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

/* line 127, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.hidden {
  display: none !important; }

/* HEADER */
/* line 132, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header {
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

/* line 141, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

/* line 149, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
#time {
  font-size: 1.2em; }

/* line 153, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .center {
  text-align: center;
  justify-content: center; }

/* line 158, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .right {
  text-align: right;
  justify-content: flex-end; }

/* line 163, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .icon {
  height: 25px;
  width: auto; }

.header .home-icon {
  height: 50px;
  width: auto;
  /*background: white;*/
}

#settings-header{
  text-align: center;
  position: relative;

}

#settings-title{
  margin:auto;
}

#home-button{
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* line 168, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .gps-icon {
  height: 12px;
  margin-left: 12px;
  opacity: .8; }

/* line 174, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .header-button:hover {
  cursor: pointer; }

/* line 178, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .header-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 140, 255, 0);
  border-radius: 50px;
  transition: background 0.15s;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 189, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.header .header-button:active {
  background-color: #008cff; }

/* line 193, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
span.tab {
  display: inline-block;
  margin-left: 15px; }

/* CONTENT */
/* line 201, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.content {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 415px;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center; }

/* line 212, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.weather {
  overflow: visible;
  height: auto;
  width: 100%; }

/* line 220, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.weather .weather-icon {
  padding-top: 60px;
  display: block;
  font-size: 14em;
  max-height: 415px;
  height: auto;
  animation: down 0.4s ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* line 232, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.weather .weather-icon.up {
  animation: up 0.4s ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* line 239, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.weather .text {
  display: block;
  overflow: hidden;
  height: auto;
  animation: show 0.4s ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* line 249, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.weather .text.hide {
  animation: hide 0.4s ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes up {
  0% {
    transform: translate(0, 0);
    font-size: 14em;
    max-height: 400px; }
  45% {
    max-height: 1px;
    height: 1px;
    padding-top: 0;
    transform: translate(0, 0);
    font-size: 1.5em; }
  50% {
    max-height: 1px;
    height: 1px;
    padding-top: 0;
    transform: translate(0, 0);
    font-size: 1.5em; }
  100% {
    transform: translate(0, -9000%);
    max-height: 1px;
    font-size: 1.5em;
    padding-top: 0px; } }

@keyframes down {
  0% {
    transform: translate(0, -9000%);
    font-size: 1.5em;
    max-height: 1px;
    padding-top: 0px; }
  50% {
    transform: translate(0, 0);
    font-size: 1.5em;
    max-height: 1px;
    padding-top: 0px; }
  100% {
    transform: translate(0, 0);
    font-size: 14em;
    max-height: 400px;
    padding-top: 60px; } }

@keyframes hide {
  0% {
    opacity: 1; }
  80% {
    opacity: 0;
    max-height: 395px; }
  100% {
    opacity: 0;
    max-height: 0px; } }

@keyframes show {
  0% {
    opacity: 0;
    max-height: 0; }
  20% {
    opacity: 0;
    max-height: 395px; }
  100% {
    opacity: 1;
    max-height: 395px; } }

/* line 334, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.weather .text {
  font-size: 1.6em;
  line-height: 1.4em;
  letter-spacing: .03em; }

/* WIDGET CONTENT */
/* line 341, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.widget {
  position: absolute;
  height: 0;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  width: 70%;
  opacity: 0;
  border-radius: 20px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 100; }

/* line 356, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.widget.active {
  animation: widget-show 0.4s ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.4s; }

@keyframes widget-show {
  0% {
    opacity: 0;
    height: 0; }
  20% {
    opacity: 0;
    height: 395px; }
  100% {
    opacity: 1;
    height: 395px; } }

/* MIRROR */
/* line 380, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
#mirrorVideo {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  transform: rotateY(180deg); }

/* TODO */
/* line 389, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo {
  margin-top: 20px;
  border-radius: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: visible; }

/* line 398, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.nothing {
  width: 100%;
  height: 80%;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  display: none; }

/* line 408, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.nothing.active {
  display: flex; }

/* line 412, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.addTodo {
  width: 100%;
  height: 50px;
  overflow-x: visible;
  box-sizing: border-box;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 20px; }

/* line 426, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.addTodo input {
  border: 0;
  border-bottom: 1px solid white;
  padding: 8px;
  box-sizing: border-box;
  color: white;
  background: none;
  outline: none;
  width: 80%;
  text-align: left;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.2em;
  flex: 1;
  margin-right: 20px;
  opacity: 0.5;
  transition: opacity 0.2s; }

/* line 444, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.addTodo input:focus, .addTodo input:focus + img {
  opacity: 1; }

/* line 448, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.addTodo img {
  width: 30px;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.2s; }

/* line 455, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.addTodo:hover {
  cursor: pointer; }

/* line 459, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul {
  width: 100%;
  height: 90%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  flex: 1; }

/* line 471, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  left: -100px; }

/* line 477, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li {
  margin-bottom: 20px; }

/* line 481, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  width: 100%;
  height: auto;
  transition: opacity 0.1s; }

/* line 495, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li label .box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(10, 0);
  border: 2px solid white;
  background-color: 0;
  margin-right: 15px;
  margin-left: 15px;
  transition: background 0.1s; }

/* line 508, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li label .remove {
  height: 12px;
  width: auto;
  padding:10px;
  margin-right: 15px;
  margin-left: 15px;
  opacity: .5;
  transition: opacity 0.1s; }

/* line 517, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li label .remove:hover {
  cursor: pointer;
  opacity: 1; }

/* line 522, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li input[type=checkbox]:checked + label .box {
  background-color: white; }

/* line 526, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li input[type=checkbox]:checked + label {
  opacity: 0.5; }

/* line 530, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li label span {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.3em;
  flex: 1; }

/* line 537, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul li label:hover {
  cursor: pointer; }

/* line 541, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul::-webkit-scrollbar {
  width: 10px; }

/* line 545, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul::-webkit-scrollbar-track {
  background-color: transparent; }

/* line 549, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  transition: background-color 0.15s; }

/* line 555, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.5); }

/* line 559, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.todo ul::-webkit-scrollbar-button {
  background-color: transparent; }

/* ACTIONS */
/* line 564, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.actions {
  height: 20%;
  min-height: 240px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-top: 60px;
  z-index: 10; }

/* line 577, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.action, a.action {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 140, 255, 0);
  border-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.15s; }

/* line 589, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.action:hover {
  cursor: pointer; }

/* line 593, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.action.active, .action:active {
  background-color: #008cff; }

/* line 597, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
.action-icon {
  height: 50px;
  width: auto;
  display: block;
  margin-bottom: 25px;
  box-sizing: border-box; }

@media (max-width: 1335px) {
  /* line 606, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .inner, .settings{
    padding: 20px 50px 20px 50px; } }

@media (max-width: 1200px) {
  /* line 612, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions {
    min-height: 200px; }
  /* line 616, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .action {
    width: 140px;
    height: 140px;
    border-radius: 140px; }
  /* line 622, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .action-icon {
    height: 40px; } }

@media (max-width: 980px) {
  /* line 628, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions {
    height: 240px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 12px; }
  /* line 637, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .action, a.action {
    display: inline-flex;
    margin-right: 15px; }
  /* line 642, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions::-webkit-scrollbar {
    height: 10px; }
  /* line 646, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions::-webkit-scrollbar-track {
    background-color: transparent; }
  /* line 650, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    transition: background-color 0.15s; }
  /* line 656, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.5); }
  /* line 660, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .actions::-webkit-scrollbar-button {
    background-color: transparent; }
  /* line 664, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .widget {
    width: 80%; } }

@media (max-height: 730px) {
  /* line 670, C:/Users/ariel_000/Documents/Web/Dashboard/newday/stylesheets/style.scss */
  .inner, .settings{
    display: block;
    position: relative;
    height: auto; } }

/*# sourceMappingURL=style.css.map */


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.namefield{
  margin:10px 0 0 0;
  font-size: 0.7em;
}
